<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KAGNY-PROD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <form class=" form-group">
          <input [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" (keyup)="search($event)"  type="text" placeholder="Search">
        </form>
        <span class="fas fa-search search"></span>
      </div>
    </div>
    <div class="d-flex">
     <a  [routerLink]="['/cart']">  <i class="fas fa-shopping-cart" style="font-size: 35px; color:white;"></i> </a>
      <span class="" style="color:black">{{quantity}}</span>
    </div>
       
  </nav>